<div style="overflow: auto">
{{range .GetClues "0"}}
<div style="float: left;margin-right: -51px">
<img src="{{printf "%s" .Id}}.png"/>
<img src="ico-square-0.png" style="position: relative; right: 51px"/>
</div>
{{end}}
</div>
<div style="overflow: auto">
{{range .GetClues "1"}}
<div style="float: left;margin-right: -51px;">
<img src="{{printf "%s" .Id}}.png"/>
<img src="ico-square-1.png" style="position: relative; right: 51px"/>
</div>
{{end}}
</div>
<div style="overflow: auto">
{{range .GetClues "2"}}
<div style="float: left;margin-right: -51px">
<img src="{{printf "%s" .Id}}.png"/>
<img src="ico-square-2.png" style="position: relative; right: 51px"/>
</div>
{{end}}
</div>
<div style="overflow: auto">
{{range .GetClues "3"}}
<div style="float: left;margin-right: -51px">
<img src="{{printf "%s" .Id}}.png"/>
<img src="ico-square-3.png" style="position: relative; right: 51px"/>
</div>
{{end}}
</div>
