div.IconPairContainer {
	overflow: auto;
}

.float {
	float: left;
}

.clear {
	clear: right;
}

img.IconImg {
	float: left;
	height: 318px;
	width: 318px;
}

div#MainView {
	clear: both;
}

div.TopFrame {
	overflow: scroll;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 999;
	height: 30%;
}

div#Icons {
	height: 70%;
	width: 50%;
	overflow: scroll;
	float: left;
}

div#Buttons {
	position: relative;
	float: left;
}

div#ConceptDiv0, div#ConceptDiv1, div#ConceptDiv2, div#ConceptDiv3 {
	width: 100%;
	clear: both;
}

img.ClueImg {
	overflow: auto;
}

div.IconDiv {
	float: left;
	margin-right: -51px;
}

img.ConceptIcon {
	position: relative;
	right: 51px;
}