div.IconPairContainer {
	overflow: auto;
}

div.IconContainer {
	float: left;
}

div.MainViewSticky {
	display: flex;
}

div#ConceptDiv0, div#ConceptDiv1, div#ConceptDiv2 {
	width: 100%
}

img.ClueImg {
	width: 100%;
}

div.IconDiv {
	float: left;
	margin-right: -51px;
}

img.ConceptIcon {
	position: relative;
	right: 51px;
}